#container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 85vw; /* Adjust as needed */
    height: 85vw; /* Adjust as needed */
    max-width: 640px;
    max-height: 640px;
    justify-content: center;
    align-content: center;

}

.grid-item {
    width: calc(100% / 16) ; /* Each item is 1/16th of the width */
    height: calc(100% / 16); /* Keep it square */
    background: #e8f8f5;
    border: 1px solid black;
    box-sizing: border-box; /* Ensures border doesn't mess up sizing */
    
}

.grid-item:hover {
    background-color: #a3e4d7;
}

.painted {
    background-color: #0e6251;
}

.painted:hover {
    
    background-color: #117864;
}


#resize {
    margin: 1rem;
}